
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
ul{
    list-style: none;
    padding-left: 0;

}

/* cabecera o encabezado */

.contenedor {
    margin: 0 auto;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cabecera {
    background-color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 2);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

h1 {
    text-align: left;
    padding-left: 16px;
    padding top: 16px;
    font-family: 'Oswald', sans-serif;
    color: yellow;
}

.lista_menu {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

.menu {
    min-width: 30%;
    padding-right: 5%;
}

.texto_menu {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}

.texto_menu:hover {
    color: yellow;
}

/* main index */

.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.hero {
    height: 900px;
    width: 100%;
    background-image: url(../Imagenes/playa_comodoro.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bienvenidos_1 {
    
    color: white;
    max-width: 100%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 32px;
       

}
.parrafo_1 {
    
    color: white;
    max-width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 32px;
       

}

/* pie footer */

.pie_pagina {
    color: white;
    background-color: black;
    padding-top: 32px;
    padding-bottom: 64px;

}

.pie_contenido {
   text-align: center;
   padding: 10px 0;
}

.pie_enlace {
    color: white;
}

.pie_enlace:hover {
    color: yellow;
}

/* Servicios.html main */ 

.tit_serv {
    display: flex;
    justify-content: center;
    min-height: 5px;
    background-color: yellow;
    padding-top: 100px;
    padding-bottom: 16px;

}

.texto {
    text-align: center;
    width: 55%;
}

.carrusel {
    background-color: black; 
    padding-bottom: 64px;
    padding-top: 64px;

}





/* Fijar Elemento a la pantalla (Whatsapp) */

.fijar {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    
}

.fijar__enlace {
    display: inline-block;
    background-color: #00bb2d;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 100px;
    transition: all 1s;
}

.fijar__enlace:hover {
    box-shadow: 5px 5px 5px yellow;
}

.fijar__img {
    width: 30px;
    height: 30px;
    
}


/* Maps */
.iframe {
    width: 100%;
}

.formulario {
    padding-top: 200px;
    padding-bottom: 64px;
}

/* Media Querys */

@media (max-width: 768px) {
    .cabecera .contenedor {
        flex-direction: column;
        width: 100%;
    }
    
    .lista_menu {
        gap: 10px;
        flex-wrap: wrap;
    }

    .texto_menu {
        font-size: 15px;
    }
    
    .tit_serv {
        flex-direction: column;
        padding-top: 150px;
        width: 100%;
        align-items: center;
    }

    .portada {
        flex-direction: column;
    }

    .bienvenidos_1 {
        font-size: 28px;
    }

    .parrafo_1 {
        font-size: 15px;
    }

    .hero {
        flex-direction: column;
        background-image: url(../Imagenes/estrellas_perito.jpg);
        background-position: center;
        width: 100%;
    }

    .fijar .fijar__enlace {
        flex-direction: column;
        align-items: center;
  
    }

    .carrusel .container {
        flex-direction: column;
    }
}