
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
ul{
    list-style: none;
    padding-left: 0;

}

/* cabecera o encabezado */

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 95%;

}

.cabecera {
    background-color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 2);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

h1 {
    text-align: left;
    padding-left: 16px;
    padding top: 16px;
    font-family: 'Oswald', sans-serif;
    color: yellow;
}

.lista_menu {
    list-style: none;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu {
    min-width: 30%;
}

.texto_menu {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}

.texto_menu:hover {
color: yellow;
}

/* main index */

.hero {
    height: 900px;
    width: 100%;
    background-image: url(../Imagenes/playa_comodoro.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}

.parrafo_1 {
    
    color: white;
    max-width: 100%;
    font-size: 20px;
    text-align: center;
    width: 400px;
    height: 200px;    

}

/* pie footer */

.pie_pagina {
    color: white;
    background-color: black;
    padding-top: 32px;
    padding-bottom: 64px;

}

.pie_contenido {
   text-align: center;
   padding: 10px 0;
}

.pie_enlace {
    color: white;
}

.pie_enlace:hover {
color: yellow;
}

/* Servicios.html main */ 

.tit_serv {
 display: flex;
 min-height: 300px;
 background-color: yellow;
 padding-top: 16px;
 padding-bottom: 16px;
 justify-content: center;
}

.servicio {
    display: flex;
    min-height: 600px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 16px;
    gap: 0px;

}


.informacion_1 {
  background-color: yellow;
  width: 500px;
  height: 350px;
  background-image: url(../Imagenes/evento_DSC6012.jpg);
  background-size: cover;
  padding: 16px;

}

.informacion_2 {
    background-color: yellow;
    width: 500px;
    height: 350px;
    background-image: url(../Imagenes/empanada_producto.jpg);
    background-size: cover;
    padding: 16px;
  
  }

  .informacion_3 {
    background-color: yellow;
    width: 500px;
    height: 350px;
    background-image: url(../Imagenes/Ushuaia_puerto.jpg);
    background-size: cover;
    padding: 16px;
  
  }

  .informacion {
    background-color: yellow;
    width: 500px;
    height: 350px;
    background-image: url(../Imagenes/retrato\ 15.jpg);
    background-size: cover;
    padding: 16px;
  
  }


/* Fijar Elemento a la pantalla (Whatsapp) */

.fijar {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    
}

.fijar__enlace {
    display: inline-block;
    background-color: #00bb2d;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 100px;
    transition: all 1s;
}

.fijar__enlace:hover {
    box-shadow: 5px 5px 5px yellow;
}

.fijar__img {
    width: 30px;
    height: 30px;
    
}


/* Maps */
.iframe {
    width: 100%;
}

.formulario {
    padding-top: 200px;
    padding-bottom: 64px;
}